accelerate
aiohappyeyeballs
aiohttp
aiosignal
anthropic
anyio
asttokens
attrs
bertviz
boto3
botocore
captum
cloudpickle
contourpy
cycler
datasets
decorator
dill
docstring_parser
evaluate
executing
filelock
fonttools
frozenlist
huggingface-hub
joblib
matplotlib
numpy
openai
pandas
scikit-image
scikit-learn
scipy
seaborn
shap
torch
tqdm 
transformers
lime